/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background: black;
}

.buttonshadowR {
    box-shadow: 0 0 40px red
}

.buttonshadowY {
    box-shadow: 0 0 40px yellow
}

.buttonshadowG {
    box-shadow: 0 0 40px green
}